*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcfcfc;
    font-family: sans-serif;
    background-image: url("images/my-photo.png");
}

footer{
    background-color: #111;
    height: auto;
    width: 100%;
    font-family: sans-serif;
    padding-top: 40px;
    color: #fff;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    justify-content: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .5s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
} 

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
}
/* footer design */

/* header css */ 
.logo{
    width: 5em;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 2%;
    border-bottom: black solid 5px;
    background-color: rgb(207, 11, 11);
}

header h1{
    padding-left: 20px;
    color: rgb(18, 19, 19);
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header img {
    width: 100px;
    cursor: pointer;
}

.header-logout{
    justify-content: flex-start;
}

.header-logout h1{
    margin-right: 15%;
}

.div-logout-name{
    margin-left: auto;
    padding-right: 3em;
    list-style: none;
}

.div-logout-name li a{
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 550;
    color: rgb(20, 19, 19);
}

.div-logout-name li a:hover{
    color: rgb(255, 255, 255);
}

.div-logout-name li {
    font-weight: 550;
    padding-top: 10px;
    color: yellow;
}

.nav-link{
    list-style: none;
}

.nav-link li{
    display: inline-block;
    padding: 0px 18px;
    
}

.nav-link li a {
    transition: all 0.4s ease;
    text-decoration: none;
    font-weight: 550;
    color: rgb(255, 255, 255);
}

.header-logout input[type='submit']{
    margin-top: 10px;
    background-color: #000;
    color: white;
    font-weight: 550;
    padding: 5px;
    margin-left: 30px;
    border: 2px black solid;
    border-radius: 10px;
    transition: 0.5s;
}

.header-logout input[type='submit']:hover{
    background-color: rgb(31, 30, 30);
    padding: 9px;
    border: 1px yellow solid;
}

#login-head{
    color: rgb(193, 24, 24);
    transition: all 0.4s ease;
}

#login-head :hover{
    color: rgb(53, 201, 36);
}

.nav-link li a:hover{
    color: rgb(154, 156, 156);
}


.login-box{
    
    width: fit-content;
    margin-left: 20px;
    padding: 20px;
    align-items: center;
}
.login-box input[type="text"] , input[type="password"] {
    margin-bottom: 20px;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    display: block;
    background: none;
    border: 0;
    outline: none; 
    border-radius: 24px;
    border: 2px black solid;
    transition: 0.25s;
}

.login-box input[type="password"]:focus {
    width: 340px;
}
    
.login-box input[type="text"]:focus {
    width: 340px;
}

.login-box input[type="submit"]{
    font-weight: 600;
    width: 200px;
    height: 40px;
    background: rgb(54, 53, 53);
    color: white;
    border-radius: 20px;
    transition-duration: 0.5s ;
    margin-left: 40px;
    
}

.login-box input[type="submit"]:hover{
    background-color: rgb(103, 105, 105);
}

.login-main{
    height: max-content;
}

main h2{
    margin-top: 50px;
    margin-left: 20px;
    border-bottom: 2px black solid;
    width: 70%;
}

/* aside */

aside{
    border: black 2px solid;
    width: 400px;
    position: absolute;
    top: 10em;
    right: 0;
    margin-right: 10px;
    border-radius: 20px;
    padding: 20px;
}

aside h2 {
    color: rgb(232, 4, 4);
}


.login-aside{
    height: 35%;
    
}

.login-aside h2{
    border-bottom: 2px black solid;
    margin-bottom: 10px;
}
/* students css aside */ 
.students_aside{
    padding-top: 0px;
    height: 20%;
    
}

.students_aside h2{
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.student_aside{
    height: 40%;
    padding: 10px;
}

.student_aside h2{
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 90%;
}

.companies_aside{
    padding: 20px;
    height: 30%;
}

.companies_aside h2{
    width: 95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.company_aside{
    padding: 20px;
    height: 40%;
}

.company_aside h2{
    width: 95%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.add_student_aside{
    padding: 20px;
    height: 60%;
}

.add_student_aside h2{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.add_company_aside{
    padding: 20px;
    height: 60%;
}

.add_company_aside h2{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* student list css */

.edit-table{
    border: 0px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.edit-table  tbody {
    border: 0px;
    padding: 0px;
}

.edit-table tbody tr{
    border: 0px;
    padding: 20px;
}

.edit-table tbody tr td{
    padding-left: 10px;
    padding-right: 0px;
    text-align: left;
    padding-top: 20px;
}

.text-field-major{
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px rgb(242, 4, 4) solid;
}

.edit-table textarea{
    height: 80px;
    width: 200px;
    border: 2px rgb(242, 4, 4) solid;
}
 select{
    width: 100px;
    height: 25px;
    background-color: gray;
    border: 2px black solid;
    transition-duration: 0.67s;
    border-radius: 5px;
}

 select:hover{
    background-color: black; 
    color: white;
}

select:focus{
    background-color: black;
    color: white;
}

.add-clear-div{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-clear-div input{
    margin-left: 10px;
    height: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: 550;
    border-radius: 10px;
    transition-duration: 0.6s;
}


.add-clear-div input:hover{
    background-color: red;
}

.link{
    margin-left: 30px;
    margin-bottom: 20px;
}

.link-div{
    margin-top: 20px;
    margin-bottom: 10px;
}
/* student css */

.description-img{
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-left: 16px;
    padding-right: 40px;
    border-right: 1.3px rgb(237, 181, 181) solid;
}

.decription{
    position: absolute;
    top: 220px;
    left: 400px;
}

#description-student-img.description-img{
    width: 200px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

#description-student.decription{
    left: 280px;
    margin-top: 10px;
}

dd{
    padding-left: 20px;
    padding-top: 3px;
    color: black;
    text-decoration: none;
}

dt{
    color: rgb(121, 9, 9);
    font-weight: 550;
}

.decription a{
    color: #111;
    text-decoration: none;
    transition: 0.20s ease-in;
}

.decription a:hover{
    color: rgb(160, 36, 17);
}

.back-edit-link{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.back-edit-link a{
    color: #000;
}

.back-edit-link span{
    color: rgb(190, 8, 8);
    font-weight: 600;
}

.table-info-home {
    margin-left: 3em;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: black 1px solid;
    border-collapse: collapse;
}

.table-info-home thead tr th {
    padding: 20px;
    text-align: center;
    color: rgb(226, 216, 216);
    background-color: rgb(0, 0, 0);
    
}

.table-info-home tbody tr td{
    padding: 20px;
    text-align: center;
    background-color: #fcfcfc;
}

.student-img{
    width: 100px;
}

.table-data{
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 30px;
    text-align: center;
    border-collapse: collapse;
    width: 66%;
}

.table-data td {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.table-data th{
    padding: 20px;
}

.table-data tr{
    transition: 0.7s;
}

.table-data tr:nth-child(even){
    background-color: rgb(241, 239, 239);
}

.table-data th{
    color: white;
    background-color: rgb(26, 1, 1);
}

.table-data tr:hover{
    background-color: rgb(243, 9, 9);
}

.table-data a{
    color: black;
}

.list-form {
    width: fit-content;
    margin-left: 17em;
    margin-top: 2em;
}

.list-form div label{
    padding-left: 20px;
}

.list-form input[type = "submit"]{
    margin-left: 30px;
    width: 80px;
    height: 30px;
    border-radius: 2px black solid;
    border-radius: 5px;
    color: rgb(247, 236, 236);
    background-color: rgb(95, 89, 89);
    transition-duration: 0.7s;
}

.list-form input[type = "submit"]:hover{
    background-color: red;
}

.list-form select{
    width: 100px;
    height: 25px;
    background-color: gray;
    border: 2px black solid;
    transition-duration: 0.67s;
    border-radius: 5px;
}

.list-form select:hover{
    background-color: black; 
    color: white;
}

.list-form select:focus{
    background-color: black;
    color: white;
}

.list-form input[type="text"]{
    height: 25px;
}

caption{
    color: red;
    font-weight: 550;
}

#description-company-img.description-img{
    width: 220px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#description-company.decription{

    margin-top: 20px;
    left: 300px;
}

#description-company.decription dd{
    padding-left: 30px;
}

.add-student-link{
    margin-left: 50px;
    color: black;
}

.add-link-div{
    margin-bottom: 20px;
    margin-top: 20px;
}

.logout{
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 20px;
}

.logout p {
    color: red;
    font-weight: 550;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}
/* aside css */

